ion-title{
    text-align: center;  
    --color: rgb(20, 18, 18);
}

.cor-do-agendamento{
    background-color: #4b7462; 
    color: white; 
}

ion-button {
    --background: #4b7462; 
    --color: white;
  }