<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="duvida">Dúvidas sobre os nossos serviços</ion-title>
  </ion-toolbar>

    <p class="pergunta"> 1. Como faço para agendar um horário pelo aplicativo?<br>
    </p>
      
    <p class="resposta"> Resposta: Você pode acessar o menu principal, selecionar o serviço desejado (corte de cabelo, barba ou ambos), escolher o barbeiro de sua preferência, e selecionar o dia e horário disponíveis no calendário e confirmar seu agendamento.
    </p>

    <p class="pergunta">  2. Posso escolher o barbeiro de minha preferência?<br></p>

    <p class="resposta"> Resposta: Sim! O aplicativo permite que você visualize os barbeiros disponíveis. Basta selecionar o barbeiro de sua escolha ao agendar o serviço.
    </p>
  
    <p class="pergunta"> 3. Posso cancelar um agendamento?<br></p>
      
    <p class="resposta"> Resposta: Você pode cancelar seu horário diretamente pelo aplicativo na seção "Excluir".
    </p>
  
    <p class="pergunta"> 4. O que está incluído no serviço de corte de cabelo e barba?<br></p>
    
    <p class="resposta"> Resposta: O serviço de corte de cabelo e barba inclui lavagem, corte personalizado, alinhamento de barba e finalização com produtos específicos para sua necessidade. Você pode conferir os detalhes na descrição do serviço antes de agendar.
    </p>
  
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">faq</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
