<ion-header translucent="true">
  <ion-toolbar color="dark">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input [(ngModel)]="nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Senha</ion-label>
    <ion-input [(ngModel)]="senha" type="password"></ion-input>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="login()">Entrar</ion-button>
  <ion-button expand="block" fill="clear" routerLink="/cadastro">Criar Conta</ion-button>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
    </ion-toolbar>    

  <ion-item lines="none">
    <ion-label>Entrar como administrador</ion-label>
    <ion-checkbox [(ngModel)]="adminLogin"></ion-checkbox>
  </ion-item>
    

</ion-content>

