<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Painel Administrativo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Bem-vindo, Administrador</h2>

  <ion-list>
    <ion-item routerLink="/admin/agendamentos">
      <ion-label>Visualizar Agendamentos</ion-label>
    </ion-item>
    <ion-item routerLink="/admin/barbeiros">
      <ion-label>Gerenciar Barbeiros</ion-label>
    </ion-item>
    <ion-item routerLink="/admin/produtos">
      <ion-label>Gerenciar Produtos</ion-label>
    </ion-item>
    <ion-item routerLink="/admin/servicos">
      <ion-label>Gerenciar Serviços</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
