<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Agendamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Filtrar por Data</ion-label>
    <ion-datetime [(ngModel)]="filtroData" presentation="date"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Filtrar por Profissional</ion-label>
    <ion-select [(ngModel)]="filtroProfissional" placeholder="Todos">
      <ion-select-option *ngFor="let p of profissionais" [value]="p">{{ p }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let a of agendamentosFiltrados; let i = index">
      <ion-label>
        <p>{{ a.data }} {{ a.hora }} – {{ a.servico }} com {{ a.barbeiro }}</p>
        <p>Cliente: {{ a.cliente }} | Valor: R$ {{ a.valor }}</p>
      </ion-label>
      <ion-button color="danger" fill="clear" (click)="excluir(i)">
        Excluir
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
